
<div *ngIf="customer">
<mat-nav-list>
  <mat-list-item class="mat-elevation-z2 mat-" [routerLink]="['/customers', customer.id]">
<!--    <mat-icon mat-list-icon>person</mat-icon>-->

    <img matListAvatar src="https://i.ibb.co/2g8mptt/ic-launcher-round.png" alt="" style="margin-right: 10px">

    <p><b>{{customer.id}}</b><br>
      Message:  {{customer.message}} </p>

    <span class="example-spacer"></span>
    <div>
      <h5>{{customer.status}}</h5>
    </div>

  </mat-list-item>
</mat-nav-list>
<!--  <span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Inactive</span>-->

<!--  <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Active</span>-->

<!--  <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>-->

<!--  <mat-divider></mat-divider>-->
</div>
