<body>

<div *ngIf="customer">
<mat-nav-list>
  <mat-list-item class="example-small-box mat-elevation-z4">
    <mat-icon mat-list-icon>person</mat-icon>

      <p>First Name:  {{customer.name}}<br>

      Phone:  {{customer.phone}}<br>


      Message:  {{customer.message}} </p>

    <div>
      <h5>Active:  {{customer.active}}</h5>
    </div>
  </mat-list-item>
</mat-nav-list>


  <br>


<!--  <span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Inactive</span>-->

<!--  <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Active</span>-->

<!--  <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span>-->

<!--  <mat-divider></mat-divider>-->
</div>

</body>
