<mat-toolbar color="primary" class="example-small-box mat-elevation-z4" >
  <span>Vinota Admin</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">more_vert</mat-icon>

</mat-toolbar>
<section>

<div class="container-fluid">
<!--  <div style="color: blue;">-->
<!--    <h3>{{description}}</h3>-->
<!--  </div>-->

  <nav>
<!--    <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>-->
<!--    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>-->
  </nav>
  <router-outlet></router-outlet>
</div>
</section>

