<mat-toolbar color="primary" >
  <span>Vinota Admin</span>

</mat-toolbar>

<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<div class="container-fluid">
<!--  <div style="color: blue;">-->
<!--    <h3>{{description}}</h3>-->
<!--  </div>-->

  <nav>
    <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>
  <router-outlet></router-outlet>
</div>
